<%- include('partials/logged-in-header') -%>
<div class="container card-container">
  <div class="row justify-content-center">
      <div class="col-6">
          <!-- <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <!-- <a href="/logout" class="col-3 btn btn-primary">Logout</a> -->
          <!-- </div> --> 
          <div class="mt-5">
            <h2>Update Image</h2>
            <span>Current image: </span>
            <img src="<%= post.image%>" class="card-img-top" alt="...">
            <div><br><br></div>
            <form action="/post/editImage/<%= post._id %>?_method=PUT" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Choose New Image:</label>
                <input type="file" class="form-control" id="imageUpload" name="file" required>
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
    </div>
  </div>
<%- include('partials/footer') -%>